#boardPlace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

#board{
    display: table;
    /* border-collapse: collapse; */
}

#board .row{
    display: table-row;
}


@media (max-width: 769px) {
    #boardPlace{
        width: 100%;
    }
}