*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cell {
    display: table-cell;
    position: relative;
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    /* border-color: rgb(37, 171, 255); */
}

.cell .object {
    position: absolute;
    width: 100%;
    height: 100%;
}

.droppedpiece{
    position: absolute;
    top: 0;
    left: 0;
}

.round {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7em;
}