#controls{
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlItem{
    width: 100px;
    height: 50px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.controlItem:active{
    background: rgb(0, 106, 255);
}

.SettingsIcon{
    padding: 5px;
    width: 100%;
    height: 100%;
}

.SettingsIcon > svg{
    object-fit: contain;
    width: 100%;
    height: 100%;
}