#SpecialsPlace{
    position: relative;
    margin: 10px;
    width: calc(100% - 20px);
    display: block;
    border-radius: 10px;
    overflow-X: auto;
    display: flex;
    background: rgb(0, 106, 255);
}

#Specials{
    border-radius: 9px;
   
    display: flex;
}

